/* web/src/app/globals.css */

/* 1. Tailwind base styles */
@tailwind base;
/* 2. Tailwind component classes */
@tailwind components;
/* 3. Tailwind utility classes */
@tailwind utilities;

/* Your global overrides */
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
